---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";

interface Project {
  year: string;
  title: string;
  description: string;
  category: string;
  image: any;
  imageAlt: string;
}

interface Props {
  projects: Project[];
  sliderId: string;
}

const { projects, sliderId } = Astro.props;
---

<div class="relative mt-12">
  <div id={sliderId} class="group/slider flex gap-4 overflow-x-auto snap-x snap-mandatory scroll-smooth no-scrollbar rounded-4xl">
    {
      projects.map((project: Project, index: number) => {
        const [visible, hidden] = project.description.split("brand experience.");
        return (
          <div class="min-w-full snap-center pr-4">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 items-start mt-8 pb-12 border-b border-base-200 dark:border-base-800">
              {/* Año: Color gris/muted */}
              <Text tag="p" variant="textXS" class="text-(--color-muted-text) uppercase">
                {project.year}
              </Text>

              {/* Título: Color principal (Blanco en dark / Negro en light) */}
              <Text tag="h3" variant="displaySM" class="text-(--color-main-text) leading-tight font-semibold">
                {project.title}
              </Text>
              
              {/* Descripción: Color gris/muted */}
              <Text tag="p" variant="textSM" class="text-(--color-muted-text)">
                {visible}brand experience.
                <span id={`extra-${sliderId}-${index}`} class="hidden">{hidden}</span>
                <button 
                  class="see-more-btn ml-1 underline font-medium text-(--color-main-text) cursor-pointer"
                  data-target={`extra-${sliderId}-${index}`}
                >
                  See More
                </button>
              </Text>

              {/* Categoría: Color gris/muted */}
              <Text tag="p" variant="textXS" class="text-(--color-muted-text) uppercase lg:ml-auto">
                {project.category}
              </Text>
            </div>
            
            <div class="mt-12 overflow-hidden rounded-4xl">
               <Image
                width={1420}
                height={930}
                src={project.image}
                alt={project.imageAlt}
                class={`object-cover w-full h-auto transition-all duration-700 ease-in-out cursor-grab active:cursor-grabbing group-hover/slider:-translate-x-12 hover:scale-[0.98] ${index === 0 ? 'origin-left' : 'origin-center'}`}
              />
            </div>
          </div>
        )
      })
    }
  </div>
</div>

<style is:global>
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .hidden { display: none !important; }
</style>
